@import "tailwindcss";

@theme {
  --color-dash-sidebar: #0f172a;
  --color-dash-bg: #f8fafc;
  --color-brand: #4f46e5;
  --color-text-title: #1e293b;
}

:root {
  background-color: #f8fafc;
  color: #334155;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
}